<!DOCTYPE html>
<html >
<head  >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>.: Angular Js </title>


	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../lib/icono/stylesheet.css">

    <link rel="shorcut icon" href="../img/icono.ico">
    
    <script src="../lib/angular/angular.js" > </script>
	<script src="../lib/angular/angular-route.js" > </script>

</head>
<body ng-app=armando >

	<section class="container">
		<div class="row">

			<div class="jumbotron" ng-controller="miControlador">
				<h2 class="text-center" ng-bind="miVar"  >
                    
					<i class="glyphicon glyphicon-cloud"> </i>
				</h2>


				<ul ng-repeat="e in lista | filter : filtrado  "  >
					<li> {{ e.nombre }} </li>
					
				</ul>
				

				<div class="col-md-2" >

					<input type="text" class="form-control" ng-model=filtrado > 

				</div>
			
			</div>

			
		</div>
	</section>



    <script>
        
        angular.module('armando',[])
        .controller('miControlador', function($scope) {
            

            $scope.miVar = 'Uso de Listas'


            $scope.lista = [

            	{nombre: 'Armando' , status : true },
            	{nombre: 'Norkis' , status : true },
            	{nombre: 'Leonardo' , status : true },
            	{nombre: 'Karyna' , status : false }
            ];


        })
    
    </script>


	

	
	<script src="../lib/jquery/jquery.js" ></script>
	<script src="../lib/bootstrap/js/bootstrap.min.js" > </script>
	



</body>
</html>